<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  	<div text-center>
        <h1 style="color:orange;">ABOUT US</h1>
 </div>

 <div text-center>
    <h2>GOODWILL IS BASICALLY A WEB BASED AND MOBILE BASED APPLICATION.
      THE MAIN IDEA OF THIS APLICATION IS TO HELP PEOPLE.USING THIS APPLICATION PEOPLE CAN DO THE DONATIIONS.
      SEE THE CAMPAIGNS AND DONATE ON THEM.THANK YOU
    </h2>
</div>


</ion-content>
