<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/lo.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title style="color:chocolate;text-align:center;">WELCOME TO GOODWILL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align:center;">No one has ever become poor by giving</p>
        <a href="/about">
        <ion-button expand="block"><b>WANT TO KNOW MORE</b></ion-button>
      </a>
      </ion-card-content>
    </ion-card>
    <a href="/campaign">
      <ion-button expand="block">CAMPAIGNS</ion-button>
    </a>   

    <a href="/ngo">
      <ion-button expand="block">NGOS</ion-button>
    </a>   
  <a href="/medical">
   <ion-button expand="block">MEDICAL CAMPS</ion-button>
 </a>   


<a href="/goodwork">
  <ion-button expand="block">GOODWORK</ion-button>
</a>   

<a href="/msg">
  <ion-button expand="block">CONTACT US</ion-button>
</a>   






</ion-content>






